<h1><%= @word.word %></h1>


  <h2><%= @word.definitions %></h2>



<h2>Add defintion:</h2>

<form action="/definitions/<%= @word.word%>" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition!</button>
</form>
