<div class="container">
  <div class="jumbotron">
    <h1><%= @word.word %></h1>
  </div>

  <h2>Add defintion:</h2>
  <div class="definition-form">
    <form action="/definitions/<%= @word.word%>" method="post">
      <div class="form-group">
        <label for="definition">Definition</label>
        <input id="definition" name="definition" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-primary">Add definition!</button>
    </form>
  </div>
  <a href="/">Go back to my words!</a>
  <div class="word-definitions">
    <%@word.definitions.each do |definition| %>
      <h2><%= definition %></h2>
    <% end %>
  </div>
</div>
