<div class="container">
  <div class="page-header">
    <h1>Words and Definitions</h1>
  </div>

  <div id="index_description" class="panel panel-primary">
    <div class="panel-heading main"><h2>Hello! Welcome to the wonderful world of <strong>words</strong>!</h2></div>
    <div class="panel-body main">
      <p>To add a word to your word list, enter it into the space provided below and click the Add Word! button to add it to your list of words! Click on the word to go to its definition page! To view a word at random, click the random word button (you must have <strong>more than 2</strong> words added for this feature)! Click on the sort button below your words to put them in alphabetical order!</p>
    </div>
  </div>
  <div class="random">
    <%if Word.all().length > 2%>
      <% ran_word = Word.random()%>
      <button class="btn btn-warning random"><a href="/definitions/<%= Word.random() %>">Random Word!</a></button>
    <%end%>
  </div>

  <div class="row">
    <!-- Add a word column -->
    <div class="col">
      <div class="panel panel-info">
        <div class="panel-heading"><h2>Add a word:</h2></div>
        <div class="panel-body">
          <form action="/" method="post">
            <div class="form-group">
              <label for="word">Enter your word below:</label>
              <input id="word" name="word" class="form-control" type="text">
            </div>
            <button type="submit" class="btn btn-primary">Add word!</button>
          </form>
        </div>
      </div>
    </div>
    <!-- List of words column -->
    <div class="col">
      <div class="panel panel-success">
        <div class="panel-heading"><h2>Your list of words:</h2></div>
        <div class="panel-body">
          <ul>
            <% @words.each do |word| %>
              <li><a href="/definitions/<%= word.word %>"><%= word.word %></a></li>
            <% end %>
          </ul>
          <form action="/sort" method="post"  method="post">
            <button type="submit" class="btn btn-primary" >Sort!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
