@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Raleway');

font-family: 'Raleway', sans-serif;
font-family: 'Baloo Tammudu', cursive;

.page-header {
  text-align: center;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn {
  font-size: 16px;
  margin-bottom: 20px;
}

.main {
  text-align: center;
}

.jumbotron {
  background-color: #337ab7;
  color: white;
}

.jumbotron h1 {
  margin-top: 15px;
}

.random {
  text-align: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Baloo Tammudu', cursive;
}

h2 {
  padding-top: 10px;
  font-family: 'Baloo Tammudu', cursive;
}

a {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
